src/CentralDevice/FlowCreator_Central.json
[{"id":"9a0218c6.cf4418","type":"tab","label":"Extract Data","disabled":false,"info":""},{"id":"f6f2187d.f17ca8","type":"tab","label":"Cloud-Connector","disabled":false,"info":""},{"id":"b8976584.619758","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d6cb7b08.4d05f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IE Flow Creator Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"808a4da1.7d6fb","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7693872.f419678","type":"ui_group","name":"Sinus","tab":"17d61a1e.a98596","order":2,"disp":true,"width":"9","collapse":false},{"id":"17d61a1e.a98596","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"16a5d328.cfd85d","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/d/j/simatic/v1/iecc/dp/r/energy1line1/raw","qos":"0","datatype":"json","broker":"b8976584.619758","x":260,"y":200,"wires":[["ca7e79e1.0860d8","5c2d27f1.637648"]]},{"id":"ca7e79e1.0860d8","type":"debug","z":"9a0218c6.cf4418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"25f6c0ff.01d3f","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/m/j/simatic/v1/iecc/dp/energy1line1","qos":"0","datatype":"json","broker":"b8976584.619758","x":250,"y":140,"wires":[["6fc8432c.ded6ac","9c01c5a3.d86a98"]]},{"id":"6fc8432c.ded6ac","type":"debug","z":"9a0218c6.cf4418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"9c01c5a3.d86a98","type":"function","z":"9a0218c6.cf4418","name":"extract","func":"msg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":140,"wires":[["64817880.698f28"]]},{"id":"5c2d27f1.637648","type":"function","z":"9a0218c6.cf4418","name":"extract","func":"msg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[["2085585.47a74a8","d655466d.3513a8"]]},{"id":"2085585.47a74a8","type":"mqtt out","z":"9a0218c6.cf4418","name":"","topic":"ie/d/j/simatic/v1/iefc/dp/r/energy1line1/default","qos":"0","retain":"","broker":"b8976584.619758","x":1120,"y":200,"wires":[]},{"id":"596e080f.3d3cc8","type":"mqtt out","z":"9a0218c6.cf4418","name":"","topic":"ie/m/j/simatic/v1/iefc/dp/energy1line1","qos":"2","retain":"true","broker":"b8976584.619758","x":1100,"y":140,"wires":[]},{"id":"64817880.698f28","type":"function","z":"9a0218c6.cf4418","name":"adjust Metadata","func":"msg.payload.connections.forEach(element => {\n    element.dataPoints.forEach(elm => {\n        elm.topic = 'ie/d/j/simatic/v1/iefc/dp/r/energy1line1/default'\n    })\n})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":140,"wires":[["596e080f.3d3cc8","72d575a9.8658ac","a64e7ebf.153f9"]]},{"id":"2cfeb31f.c4233c","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/m/j/simatic/v1/iefc/dp/energy1line1","qos":"2","datatype":"json","broker":"b8976584.619758","x":240,"y":320,"wires":[["afb81b7b.1f0388"]]},{"id":"afb81b7b.1f0388","type":"debug","z":"9a0218c6.cf4418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"2b993606.06eaea","type":"comment","z":"9a0218c6.cf4418","name":"Line 1","info":"","x":110,"y":40,"wires":[]},{"id":"4e3804f8.08c33c","type":"mqtt out","z":"9a0218c6.cf4418","name":"","topic":"ie/m/j/simatic/v1/iefc/dp/energy2line2","qos":"2","retain":"true","broker":"b8976584.619758","x":1103,"y":600,"wires":[]},{"id":"f617bfd0.1ea05","type":"function","z":"9a0218c6.cf4418","name":"adjust Metadata","func":"msg.payload.connections.forEach(element => {\n    element.dataPoints.forEach(elm => {\n        elm.topic = 'ie/d/j/simatic/v1/iefc/dp/r/energy2line2/default',\n        elm.name = \"default\"\n    })\n})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":823,"y":600,"wires":[["4e3804f8.08c33c","a8533b5c.3c2fe8"]]},{"id":"b14b3213.185f","type":"function","z":"9a0218c6.cf4418","name":"extract","func":"msg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":573,"y":600,"wires":[["f617bfd0.1ea05"]]},{"id":"d42bd127.1ad2f","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/m/j/simatic/v1/iecc/dp/energy2line2","qos":"0","datatype":"json","broker":"b8976584.619758","x":253,"y":600,"wires":[["bbe66dbd.5191a","b14b3213.185f"]]},{"id":"bbe66dbd.5191a","type":"debug","z":"9a0218c6.cf4418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":593,"y":500,"wires":[]},{"id":"d33b117a.19f94","type":"mqtt out","z":"9a0218c6.cf4418","name":"","topic":"ie/d/j/simatic/v1/iefc/dp/r/energy2line2/default","qos":"0","retain":"","broker":"b8976584.619758","x":1123,"y":660,"wires":[]},{"id":"f2636b35.89e3e8","type":"function","z":"9a0218c6.cf4418","name":"extract","func":"msg.payload = msg.payload.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":573,"y":660,"wires":[["d33b117a.19f94","f1353244.08d98"]]},{"id":"bb6b0934.ab5cc8","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/d/j/simatic/v1/iecc/dp/r/energy2line2/raw","qos":"0","datatype":"json","broker":"b8976584.619758","x":263,"y":660,"wires":[["d20b0d36.348c2","f2636b35.89e3e8"]]},{"id":"d20b0d36.348c2","type":"debug","z":"9a0218c6.cf4418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":720,"wires":[]},{"id":"56cae1a5.68a85","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/d/j/simatic/v1/iefc/dp/r/energy2line2/default","qos":"2","datatype":"json","broker":"b8976584.619758","x":270,"y":840,"wires":[["f2e2e6ee.aea4f8"]]},{"id":"f2e2e6ee.aea4f8","type":"debug","z":"9a0218c6.cf4418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":840,"wires":[]},{"id":"5752b13.cb4ce5","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/m/j/simatic/v1/iefc/dp/energy2line2","qos":"2","datatype":"json","broker":"b8976584.619758","x":240,"y":780,"wires":[["e145a648.a109f8"]]},{"id":"e145a648.a109f8","type":"debug","z":"9a0218c6.cf4418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":780,"wires":[]},{"id":"1b8c5bc2.dec8b4","type":"mqtt in","z":"9a0218c6.cf4418","name":"","topic":"ie/d/j/simatic/v1/iefc/dp/r/energy1line1/default","qos":"2","datatype":"json","broker":"b8976584.619758","x":270,"y":380,"wires":[["33fbfe8e.fb7582"]]},{"id":"33fbfe8e.fb7582","type":"debug","z":"9a0218c6.cf4418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"c135d8c5.12b538","type":"comment","z":"9a0218c6.cf4418","name":"Line 2","info":"","x":90,"y":460,"wires":[]},{"id":"759ed2c3.86191c","type":"function","z":"f6f2187d.f17ca8","name":"S7-Connector-2-CloudConnector","func":"let idNameMap = global.get(\"NameIDMap\"); //global.get(\"idNameMap\"); \n//let nameIDMap = global.get(\"NameIDMap\")\nconst measurement = 'energy1';\n\narray = msg.payload.vals\nmessage = []\narray.forEach(element => { \n    message.push( {payload: `200,${measurement},${idNameMap.get(element.id)},${element.val.toFixed(5)},,${element.ts}`} ) \n})\n\n\nreturn [ message ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[["2cf689e0.295016","3f11e231.62123e"]]},{"id":"2cf689e0.295016","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"ie/cloudconnector/energy1","qos":"","retain":"","broker":"b8976584.619758","x":1060,"y":180,"wires":[]},{"id":"11cd2e4d.690dd2","type":"function","z":"f6f2187d.f17ca8","name":"Parse Metadata","func":"/*################################# \n    Init Variables\n#################################*/\nlet nameIDMap = new Map();          //global only changed here\n\n\n/*################################# \n    Check Payload\n#################################*/\nlet m = msg.payload;\nif (m.seq == undefined) {\n    return null;\n} \n\n\n/*################################# \n    Parse payload and store name and id to the NameIDMap\n#################################*/    \n\n// Iterate through connections\nm.connections.forEach(connection => \n{\n    \n        let dataPoints = connection.dataPoints;\n\n        //  Iterate through dataPoints\n        dataPoints.forEach( dataPoint => {\n            let dataPointDefinitions = dataPoint.dataPointDefinitions;\n\n            // Iterate through dataPointDefinitions\n            dataPointDefinitions.forEach(dataPointDefinition => {\n                nameIDMap.set(dataPointDefinition.id,dataPointDefinition.name);\n            });\n        });\n    \n});\n\n\n/*################################# \n    update global maps\n#################################*/  \nglobal.set(\"NameIDMap\", nameIDMap);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":80,"wires":[["c9907698.3b5178"]]},{"id":"c9907698.3b5178","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"3f11e231.62123e","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":260,"wires":[]},{"id":"7780ac7e.af4c54","type":"function","z":"f6f2187d.f17ca8","name":"S7-Connector-2-CloudConnector","func":"let idNameMap = global.get(\"NameIDMap2\");//global.get(\"nameIDMap_line2\"); \n// nameIDMap = global.get(\"NameIDMap2\")\nconst measurement = 'energy2';\n\narray = msg.payload.vals\nmessage = []\narray.forEach(element => { \n    message.push( {payload: `200,${measurement},${idNameMap.get(element.id)},${element.val.toFixed(5)},,${element.ts}`} ) \n})\n\n\nreturn [ message ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":460,"wires":[["d1a0da2f.c90098","1abdd57a.21223b"]]},{"id":"d1a0da2f.c90098","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"ie/cloudconnector/energy2","qos":"","retain":"","broker":"b8976584.619758","x":1060,"y":460,"wires":[]},{"id":"1abdd57a.21223b","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"d655466d.3513a8","type":"link out","z":"9a0218c6.cf4418","name":"S7_data_Line1_out","links":["1d4bf77c.2262b9"],"x":955,"y":280,"wires":[]},{"id":"1d4bf77c.2262b9","type":"link in","z":"f6f2187d.f17ca8","name":"S7_data_Line1_in","links":["d655466d.3513a8"],"x":275,"y":180,"wires":[["759ed2c3.86191c"]]},{"id":"f1353244.08d98","type":"link out","z":"9a0218c6.cf4418","name":"S7_data_Line2_out","links":["650ffb84.a60444"],"x":985,"y":740,"wires":[]},{"id":"650ffb84.a60444","type":"link in","z":"f6f2187d.f17ca8","name":"S7_data_Line2_in","links":["f1353244.08d98"],"x":275,"y":460,"wires":[["7780ac7e.af4c54"]]},{"id":"72d575a9.8658ac","type":"link out","z":"9a0218c6.cf4418","name":"S7_metadata_Line1_out","links":["f68b209b.bb2c3"],"x":985,"y":80,"wires":[]},{"id":"f68b209b.bb2c3","type":"link in","z":"f6f2187d.f17ca8","name":"S7_metadata_Line1_in","links":["72d575a9.8658ac"],"x":275,"y":80,"wires":[["11cd2e4d.690dd2"]]},{"id":"b2297136.7606f","type":"function","z":"f6f2187d.f17ca8","name":"Parse Metadata","func":"/*################################# \n    Init Variables\n#################################*/\nlet nameIDMap = new Map();          //global only changed here\n\n\n/*################################# \n    Check Payload\n#################################*/\nlet m = msg.payload;\nif (m.seq == undefined) {\n    return null;\n} \n\n\n/*################################# \n    Parse payload and store name and id to the NameIDMap\n#################################*/    \n\n// Iterate through connections\nm.connections.forEach(connection => \n{\n    \n        let dataPoints = connection.dataPoints;\n\n        //  Iterate through dataPoints\n        dataPoints.forEach( dataPoint => {\n            let dataPointDefinitions = dataPoint.dataPointDefinitions;\n\n            // Iterate through dataPointDefinitions\n            dataPointDefinitions.forEach(dataPointDefinition => {\n                nameIDMap.set(dataPointDefinition.id,dataPointDefinition.name);\n            });\n        });\n    \n});\n\n\n/*################################# \n    update global maps\n#################################*/  \nglobal.set(\"NameIDMap2\", nameIDMap);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["cf0b8c62.fb4bd"]]},{"id":"cf0b8c62.fb4bd","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":380,"wires":[]},{"id":"b1ef9fb9.75d1f","type":"link in","z":"f6f2187d.f17ca8","name":"S7_metadata_line2_in","links":["a8533b5c.3c2fe8"],"x":275,"y":380,"wires":[["b2297136.7606f"]]},{"id":"a8533b5c.3c2fe8","type":"link out","z":"9a0218c6.cf4418","name":"S7_metadata_line2_out","links":["b1ef9fb9.75d1f"],"x":985,"y":500,"wires":[]},{"id":"a64e7ebf.153f9","type":"debug","z":"9a0218c6.cf4418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":40,"wires":[]}]