src/Device_Energy1/FlowCreator_Energy1.json
[{"id":"ecb00681.ed6c58","type":"tab","label":"Preprocessing","disabled":false,"info":""},{"id":"eef3a7d4.a20748","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"76ded43e.5f8c0c","type":"mqtt in","z":"ecb00681.ed6c58","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"0","datatype":"json","broker":"eef3a7d4.a20748","nl":false,"rap":false,"inputs":0,"x":170,"y":180,"wires":[["4c42522e.45994c"]]},{"id":"fa39e7b.6690d18","type":"mqtt in","z":"ecb00681.ed6c58","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/line1/default","qos":"0","datatype":"json","broker":"eef3a7d4.a20748","nl":false,"rap":false,"inputs":0,"x":210,"y":260,"wires":[["a237875c.a97358","1302bb9c.869814"]]},{"id":"6a7ea606.2aaa38","type":"mqtt out","z":"ecb00681.ed6c58","name":"","topic":"ie/m/j/simatic/v1/iefc/dp","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eef3a7d4.a20748","x":750,"y":180,"wires":[]},{"id":"4c42522e.45994c","type":"function","z":"ecb00681.ed6c58","name":"Adjust Metadata","func":"msg.payload.connections.forEach(element => {\n    element.dataPoints.forEach(elm => {\n        elm.topic = 'ie/d/j/simatic/v1/iefc/dp/r/line1/default',\n        elm.name = 'data_line1'\n    })\n})\nmsg.payload.connections[0].type = \"data_line1\";\n\nvar dataPointDefinitions=[];\ndataPointDefinitions.push({\n    name:\"Line1_totalEnergy\",\n    id:\"1\",\n    dataType:\"LReal\"\n},\n{\n    name:\"Line1_totalWater\",\n    id:\"2\",\n    dataType:\"LReal\"\n},\n{\n    name:\"Line1_totalPressured_Air\",\n    id:\"3\",\n    dataType:\"LReal\"\n},\n{\n    name:\"Line1_ProducedBottles\",\n    id:\"4\",\n    dataType:\"LReal\"\n})\nmsg.payload.connections[0].dataPoints[0].dataPointDefinitions= dataPointDefinitions;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":180,"wires":[["6a7ea606.2aaa38"]]},{"id":"f7df74a0.c97968","type":"mqtt out","z":"ecb00681.ed6c58","name":"","topic":"ie/d/j/simatic/v1/iefc/dp/r/line1/default","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eef3a7d4.a20748","x":890,"y":260,"wires":[]},{"id":"b7be86c1.a46168","type":"mqtt in","z":"ecb00681.ed6c58","name":"","topic":"ie/m/j/simatic/v1/iefc/dp","qos":"0","datatype":"json","broker":"eef3a7d4.a20748","inputs":0,"x":160,"y":520,"wires":[["39a8a464.3e93ec"]]},{"id":"39a8a464.3e93ec","type":"debug","z":"ecb00681.ed6c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"e4f84308.b7c78","type":"mqtt in","z":"ecb00681.ed6c58","name":"","topic":"ie/d/j/simatic/v1/iefc/dp/r/line1/default","qos":"0","datatype":"json","broker":"eef3a7d4.a20748","inputs":0,"x":200,"y":600,"wires":[["c796eabf.202a28"]]},{"id":"c796eabf.202a28","type":"debug","z":"ecb00681.ed6c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":600,"wires":[]},{"id":"6e2f8775.1d6b18","type":"debug","z":"ecb00681.ed6c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"41f890e9.c5208","type":"function","z":"ecb00681.ed6c58","name":"Parse Metadata","func":"/*################################# \n    Init Variables\n#################################*/\nlet nameIDMap = new Map();          //global only changed here\n\n\n/*################################# \n    Check Payload\n#################################*/\nlet m = msg.payload;\nif (m.seq == undefined) {\n    return null;\n} \n\n\n/*################################# \n    Parse payload and store name and id to the NameIDMap\n#################################*/    \n\n// Iterate through connections\nm.connections.forEach(connection => \n{\n    \n        let dataPoints = connection.dataPoints;\n\n        //  Iterate through dataPoints\n        dataPoints.forEach( dataPoint => {\n            let dataPointDefinitions = dataPoint.dataPointDefinitions;\n\n            // Iterate through dataPointDefinitions\n            dataPointDefinitions.forEach(dataPointDefinition => {\n                nameIDMap.set(dataPointDefinition.id,dataPointDefinition.name);\n            });\n        });\n    \n});\n\n\n/*################################# \n    update global maps\n#################################*/  \nglobal.set(\"NameIDMap\", nameIDMap);\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[["6e2f8775.1d6b18"]]},{"id":"9d511eee.d29be","type":"mqtt in","z":"ecb00681.ed6c58","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"0","datatype":"json","broker":"eef3a7d4.a20748","nl":false,"rap":false,"inputs":0,"x":170,"y":80,"wires":[["41f890e9.c5208"]]},{"id":"d740e556.80c048","type":"function","z":"ecb00681.ed6c58","name":"Convert ","func":"var vals = [];\nvals.push({\n    id:\"1\",\n    qc:3,\n    ts: msg.payload.ts,\n    val:msg.payload.TotalEnergy\n},\n{\n    id:\"2\",\n    qc:3,\n    ts: msg.payload.ts,\n    val:msg.payload.TotalWater\n},\n{\n    id:\"3\",\n    qc:3,\n    ts: msg.payload.ts,\n    val:msg.payload.TotalAirPressure\n})\nif(msg.payload.ProducedBottles!=undefined)\n{\n    vals.push({\n        id:\"4\",\n        qc:3,\n        ts: msg.payload.ts,\n        val:msg.payload.ProducedBottles\n    })\n}\n\n\nmsg.payload={vals: vals,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":340,"wires":[["f7df74a0.c97968","4df6b0ba.46517"]]},{"id":"a237875c.a97358","type":"debug","z":"ecb00681.ed6c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":260,"wires":[]},{"id":"1302bb9c.869814","type":"function","z":"ecb00681.ed6c58","name":"Combine Splitted Array","func":"var NameIDMap = global.get(\"NameIDMap\");\nvar counterArrayLen = context.get ('counterArrayLen') || 0;\nvar len =0; //length of actuale recieved array\nlen = msg.payload.vals.length;\nvar counterLen = 0;\nvar value=context.get('value')||[];\nvar Name = 0\n\n\nfor (counterLen=0; counterLen<len; counterLen++)\n{\n    Name = NameIDMap.get(msg.payload.vals[counterLen].id);\n    switch (Name)\n    {\n        case 'Line1_Machine1_Sorter_Energy_General.energyCounter':\n            value[0] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n                \n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine1_Sorter_PressuredAir.energyCounter': \n            value[1] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine2_Washer_Energy_General.energyCounter':\n            value[2] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n                \n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine2_Washer_PressuredAir.energyCounter': \n            value[3] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine2_Washer_Water.energyCounter':\n            value[4] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n                \n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine3_Filler_Energy_General.energyCounter': \n            value[5] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine3_Filler_PressuredAir.energyCounter':\n            value[6] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n                \n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine3_Filler_Water.energyCounter': \n            value[7] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine4_Packer_Energy_General.energyCounter':\n            value[8] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n                \n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine4_Packer_PressuredAir.energyCounter': \n            value[9] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n            }\n            counterArrayLen++;\n            break;\n        case 'Line1_Machine4_Packer.productionCounter': \n            value[10] = {\n                value: msg.payload.vals[counterLen].val, \n                name: NameIDMap.get(msg.payload.vals[counterLen].id),\n                ts: msg.payload.vals[0].ts\n            }\n            context.set('ProducedBottles',msg.payload.vals[counterLen].val);\n            break;\n        \n    }\n}\ncontext.set(\"value\",value);\ncontext.set(\"counterArrayLen\",counterArrayLen);\ncontext.set(\"TESTARRAYZAEHLER\",counterArrayLen);\nif(counterArrayLen>=10){\n    context.set(\"counterArrayLen\",0);\n    if (value.length==10)\n    {\n        value[10] = {\n                value: context.get('ProducedBottles'),\n                name: 'Line1_Machine4_Packer.productionCounter',\n                ts: msg.payload.vals[0].ts\n                \n            }\n    }\n    counterArrayLen=0;\n\n    \n}\n\nif (counterArrayLen == 0)\n{\n    msg={payload: context.get('value')};\n    context.set(\"value\",[]);\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["dc4cb496.f3f928","1103c594.049e4a"]]},{"id":"dc4cb496.f3f928","type":"function","z":"ecb00681.ed6c58","name":"Aggregation","func":"var TotalWater = 0;\nvar TotalEnergy = 0;\nvar TotalAirPressure = 0;\nvar ProducedBottles = 0;\n\n\n\nProducedBottles = msg.payload[10].value;\nTotalAirPressure = msg.payload[1].value+msg.payload[3].value+msg.payload[6].value+msg.payload[9].value;\nTotalEnergy = msg.payload[0].value+msg.payload[2].value+msg.payload[5].value+msg.payload[8].value;\nTotalWater = msg.payload[4].value+msg.payload[7].value;\n\nmsg.payload = {TotalAirPressure:TotalAirPressure, \n         TotalEnergy: TotalEnergy,\n         TotalWater: TotalWater,\n         ProducedBottles: ProducedBottles,\n         ts: msg.payload[0].ts\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":340,"wires":[["d740e556.80c048","146c1d2b.eaa593"]]},{"id":"4df6b0ba.46517","type":"debug","z":"ecb00681.ed6c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":440,"wires":[]},{"id":"146c1d2b.eaa593","type":"debug","z":"ecb00681.ed6c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"1103c594.049e4a","type":"debug","z":"ecb00681.ed6c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":460,"wires":[]}]